<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog</a></h1>
        </div>
		
		<ul>
		{% for post in posts %}
			<div>
				<fieldset>
					<legend>
						##BLOG##
					</legend>
					<H3>
						{{ post.title }}
					</h3>
					Created on: {{ post.created_date }}
					<br>
					Published on: {{ post.published_date }}
					<br>
					<br>
					<fieldset>
						{{ post.text }}
					</fieldset>
					<br>
					By: {{ post.author|linebreaksbr }}
				</fieldset>
			</div>
			<br><br>
		{% endfor %}
		</ul>
    </body>
</html>